body {
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
}

a, .btn, nav, form {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.page-header {
  border-bottom: 5px solid #5cb85c;
  padding-bottom: 5px;
  text-align: right;
}

.page-header h1 {
  margin-bottom: 5px;
}

ul.list-group {
  border: none;
}

.form-group form {
  display: inline;
  margin-right: 10px;
}

.btn-primary {
  background-color: #eee;
  color: #337ab7;
}

.btn-danger {
  background-color: #eee;
  color: #d9534f;
}

.btn-warning {
  background-color: #eee;
  color: #f0ad4e;
}

.badge {
  color: #000;
}

.label {
  font-weight: 300;
}

/*#f0ffff Azure*/
/*#f8f8ff GhostWhite*/
/*#f5f5f5 WhiteSmoke*/
/*#fffafa Snow*/
/*#f0fff0 Honeydew*/
/*#f5fffa MintCream*/
/*#fffff0 Ivory*/
/*#faebd7 AntiqueWhite*/
/*#faf0e6 Linen*/
/*#fff0f5 LavenderBlush*/
/*#ffe4e1 MistyRose*/
